<li class="nav-header">Activity</li>
<li data-page="dashboard" class="active">
  <a href="{{config 'baseUrl'}}/#/"><i class="nav-icon icon-bar-chart"></i>Real-Time</a>
</li>
<li class="nav-header">Reporting</li>
<li data-page="reports">
  <a href="{{config 'baseUrl'}}/#/reports"><i class="nav-icon icon-th-list"></i>Daily Reports</a>
</li>
<li data-page="audio">
  <a href="{{config 'baseUrl'}}/#/audio"><i class="nav-icon icon-play-sign"></i>Listen</a>
</li>
<li class="nav-header">Account</li>
<li data-page="settings">
  <a href="{{config 'baseUrl'}}/#/settings"><i class="nav-icon icon-cogs"></i>Settings</a>
</li>
{{!-- {{#ifAdmin user}} --}}
{{!-- <li class="nav-header">Job Settings</li>
<li><a href="#"><i class="nav-icon icon-group"></i>Users</a></li>
<li><a href="#"><i class="nav-icon icon-cog"></i>Setup</a></li> --}}
{{!-- {{/ifAdmin}} --}}