<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/less/main.css">
    <link rel="stylesheet" href="/less/login.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="js/dropdown.js"></script>
    <script src="js/collapse.js"></script>
  </head>
  <body class="page-login">
    <div class="app-container">
      <div class="app-content">
        <img src="/img/logo.png" alt="">
        <form class="form-horizontal" method="POST" action="/login" role="form">
          {{#if error}}
          <div class="alert-login-error">Invalid email/password combination.</div>
          {{/if}}
          <div class="form-group">
            <div class="col-lg-12">
              <label for="email" class="control-label">Email</label>
              <input type="email" name="email" class="form-control" id="email" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              <label for="password" class="control-label">Password</label>
              <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10">
              <button type="submit" class="btn btn-info">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>