<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/less/main.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

    <script src="/components/requirejs/require.js"></script>
    <script src="/apps/business-panel/require.config.js"></script>
    <script>
      define('job', function( require ){
        var jobs = require('jobs');
        return jobs.get( {{jobId}} );
      });

      define('jobs', function( require ){
        var Collections = require('collections');
        return new Collections.Jobs( {{{json jobs}}} );
      });

      define('user', function( require ){
        var Models = require('models');
        return new Models.User( {{{json user}}} );
      });
    </script>
    <script>
      require( [ 'app' ], function( app ){
        app.init();
      });
    </script>
  </head>
  <body class="page-panel">
    
  </body>
</html>