<div class="app-container container">

  {{! Application Navbar }}
  <div class="app-navbar navbar">
    <div class="jobs-dropdown dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Drill Site #4 <span class="caret-wrap"><b class="caret"></b></span></a>
      <ul class="dropdown-menu">
        {{!-- {{#each jobs}}
        <li><a href="#/jobs/{{this.id}}">{{this.name}}</a></li>
        {{/each}} --}}
      </ul>
    </div>

    <ul class="nav navbar-nav pull-right">
      <li><a href="#">Home</a></li>
      <li><a href="#">Help</a></li>
      <li class="nav-account dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">John Fawcett <i class="icon-chevron-down"></i></a>
        <ul class="dropdown-menu">
          <li><a href="/logout"><i class="icon-signout"></i> Sign Out</a></li>
        </ul>
      </li>
    </ul>
  </div>

  {{! Application Content }}
  <div class="app-content">
    <div class="row app-content-row">
      {{! Left-hand Nav }}
      <div class="col-xs-2 app-side-nav-col">
        <ul class="nav nav-stacked app-side-nav"></ul>
      </div>

      {{! Main Content Area }}
      <div class="col-xs-offset-2 col-xs-10 main-content-wrapper">

        {{! Breadcrumbs }}
        <ul class="breadcrumb">

        {{! Main Content Region Selector}}
        <div class="app-main-content"></div>

        {{! Application Footer}}
        <div class="app-footer">
          <img src="/img/logo.png" alt="" class="logo">
        </div>
      </div>
    </div>
  </div>
</div>